body, html {
	width: 100%;
    height: 100%;
    margin: 0 auto;
}
body { 
    /* The image used */
    /*background-image: url("img/space2.png");*/
    background-image: url('http://imgsrc.hubblesite.org/hvi/uploads/image_file/image_attachment/29995/STSCI-H-p1716a-m-2000x1946.png');

    /* Full height */
    /*height: 100%; */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-nav {
	background-color: rgba(0, 0, 0, 0.5);
	color: #000;
	background-repeat: repeat-y;
}

.container {
    margin: 10% auto;    
    text-align: center;
    font-family: 'Quicksand';
    font-size: 18px;
}

.content {
	/*margin: 100px 0 0 0;*/
	border: 1px solid #000;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 10px;
	color: #fff;
	padding: 50px 0;
}
hr {
	padding-bottom: 20px;
}
p {
	padding: 20px 0 0 0;
}
.logo {
	width: 200px;
	height: auto;
	margin: 0;
	padding: 0 0 20px 0;
}
.content .btn {
	transition: all 1s;
}
.content .btn-light:hover {
	background-color: transparent;
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
	transform: scale(1.1);
	color: white;
	border: 1px solid white;
}